<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <input
      type="text"
      placeholder="Firstname"
      formControlName="firstname"
      required=""
    />
  </div>

  <div *ngIf="form.get('firstname')?.invalid && form.get('firstname')?.touched">
    Firstname is required
  </div>

  <div>
    <input type="text" placeholder="Lastname" formControlName="lastname" />
  </div>

  <div *ngIf="form.get('lastname')?.invalid && form.get('lastname')?.touched">
    Lastname is required
  </div>

  <label>
    <input type="checkbox" [value]="true" formControlName="active" />Active
  </label>

  <div *ngIf="form.get('active')?.invalid && form.get('active')?.touched">
    Active is required
  </div>

  <div formGroupName="userContactInfo">
    <input type="text" placeholder="Email" formControlName="email" />

    <div
      *ngIf="
        form.get('userContactInfo.email')?.getError('required') &&
        form.get('userContactInfo.email')?.touched
      "
    >
      Email is required !
    </div>

    <div
      *ngIf="
        form.get('userContactInfo.email')?.getError('email') &&
        form.get('userContactInfo.email')?.touched
      "
    >
      Email format is required !
    </div>
  </div>
  <div formGroupName="userContactInfo">
    <input type="text" placeholder="Phone" formControlName="phone" />

    <div
      *ngIf="
        form.get('userContactInfo.phone')?.getError('required') &&
        form.get('userContactInfo.phone')?.touched
      "
    >
      Phone is required
    </div>

    <div
      *ngIf="
        form.get('userContactInfo.phone')?.getError('minlength') &&
        form.get('userContactInfo.phone')?.touched
      "
    >
      Phone minLength must be least 9 characters!
    </div>

    <div
      *ngIf="
        form.get('userContactInfo.phone')?.getError('maxlength') &&
        form.get('userContactInfo.phone')?.touched
      "
    >
      Phone maxLength must be least 12 characters!
    </div>
  </div>
  <button type="button" (click)="addExperiance()">Add Experiance</button>
  <div formArrayName="experience">
    <ng-container
      *ngFor="let group of experienceFormArray.controls; let i = index"
    >
      <div [formGroupName]="i">
        <input
          type="text"
          placeholder="company"
          formControlName="company"
          required=""
        />
        <div
          *ngIf="
            group.get('company')?.getError('required') &&
            group.get('company')?.touched
          "
        >
          Company is required !
        </div>

        <input
          type="text"
          placeholder="years"
          formControlName="years"
          required=""
        />

        <div
          *ngIf="
          group.get('years')?.getError('required') &&
          group.get('years')?.touched
          "
        >
          Years is required !
        </div>
        <button type="button" (click)="removeExperience(i)">
          Remove Experience
        </button>
      </div>
    </ng-container>
  </div>

  <div>
    <button type="submit" [disabled]="form.invalid">Submit</button>
  </div>
</form>

valid: {{ form.valid }}

<pre>{{ form.value | json }}</pre>
